# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ConnectChecker/obj/Debug/ConnectChecker.csproj.FileListAbsolute.txt
/ModemRebooter/obj/Debug/ModemRebooter.csprojAssemblyReference.cache
/TelnetAction/obj/Debug/TelnetAction.csproj.FileListAbsolute.txt
/ConnectChecker/obj/Debug/ConnectChecker.csprojAssemblyReference.cache
/TelnetAction/obj/Debug/TelnetAction.csprojAssemblyReference.cache
/ModemRebooter/bin/Debug/Newtonsoft.Json.xml
/ModemRebooter/bin/Debug/modem_data.json
/ModemRebooter/bin/Debug/ModemRebooter.exe
/ModemRebooter/bin/Debug/ModemRebooter.pdb
/ModemRebooter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ModemRebooter/obj/Debug/ModemRebooter.csproj.CoreCompileInputs.cache
/ModemRebooter/obj/Debug/ModemRebooter.csproj.FileListAbsolute.txt
/ModemRebooter/obj/Debug/ModemRebooter.exe
/ModemRebooter/obj/Debug/ModemRebooter.pdb
