# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ConnectChecker/obj/Debug/ConnectChecker.csproj.FileListAbsolute.txt
/ModemRebooter/obj/Debug/ModemRebooter.csprojAssemblyReference.cache
/TelnetAction/obj/Debug/TelnetAction.csproj.FileListAbsolute.txt
/ConnectChecker/obj/Debug/ConnectChecker.csprojAssemblyReference.cache
/TelnetAction/obj/Debug/TelnetAction.csprojAssemblyReference.cache
/ModemRebooter/bin/Debug/Newtonsoft.Json.xml
/ModemRebooter/bin/Debug/modem_data.json
/ModemRebooter/bin/Debug/ModemRebooter.exe
/ModemRebooter/bin/Debug/ModemRebooter.pdb
/ModemRebooter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ModemRebooter/obj/Debug/ModemRebooter.csproj.CoreCompileInputs.cache
/ModemRebooter/obj/Debug/ModemRebooter.csproj.FileListAbsolute.txt
/ModemRebooter/obj/Debug/ModemRebooter.exe
/ModemRebooter/obj/Debug/ModemRebooter.pdb
/ConnectChecker/bin/Debug/ConnectChecker.dll
/ConnectChecker/bin/Debug/ConnectChecker.pdb
/ConnectChecker/obj/Debug/ConnectChecker.dll
/ConnectChecker/obj/Debug/ConnectChecker.pdb
/ModemRebooter/bin/Debug/ConnectChecker.dll
/ModemRebooter/bin/Debug/ConnectChecker.pdb
/ModemRebooter/bin/Debug/TelnetAction.dll
/ModemRebooter/bin/Debug/TelnetAction.pdb
/TelnetAction/bin/Debug/TelnetAction.dll
/TelnetAction/bin/Debug/TelnetAction.pdb
/TelnetAction/obj/Debug/TelnetAction.dll
/TelnetAction/obj/Debug/TelnetAction.pdb
/TelnetAction/obj/Debug/ModemRebooter.TelnetAction.csproj.CopyComplete
/TelnetAction/obj/Debug/ModemRebooter.TelnetAction.csproj.CoreCompileInputs.cache
/TelnetAction/obj/Debug/ModemRebooter.TelnetAction.csproj.FileListAbsolute.txt
/TelnetAction/obj/Debug/ModemRebooter.TelnetAction.csprojAssemblyReference.cache
/ConnectChecker/obj/Debug/ModemRebooter.ConnectChecker.csproj.CoreCompileInputs.cache
/ConnectChecker/obj/Debug/ModemRebooter.ConnectChecker.csproj.FileListAbsolute.txt
/ConnectChecker/obj/Debug/ModemRebooter.ConnectChecker.csprojAssemblyReference.cache
